<div class="wrapper">
    <div class="page-header clear-filter" filter-color="primary">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('https://www.scipioerp.com/files/2016/03/4ffb90e8948c4e47822ecd2b860e565a_28_1600-1.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Angular JS</h1>
                <b>for</b>
                <br/>
                <br/>
                <img class="n-logo" src="assets/img/scipio/scipio-logo.png" alt="">
                <br/>
                <em>Let's celebrate modern web-development!</em>
            </div>
        </div>
    </div>

    <div class="main">
        <!--  
    <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
        <div class="section section-slider">
            <div class="container">
                <h2>Slider</h2>
                <app-productslider [productcategoryid]="'ELTRN-100'" [title]="'Electronics'"></app-productslider>
                <app-slider [title]="'Product Slider'"></app-slider>
            </div>
        </div>
        <div class="section section-basic">
            <div class="container">
                <h2>Content Elements</h2>
                <app-basicelements></app-basicelements>
            </div>
        </div>
      <!--<app-navigation></app-navigation>-->
    </div>
</div>