<footer class="footer" data-background-color="black">
  <div class="container">
      <nav>
          <ul>
              <li>
                  <a href="https://www.scipioerp.com">
                      Scipio ERP
                  </a>
              </li>
              <li>
                  <a href="http://www.ilscipio.com">
                      About Us
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright">
          &copy;
        {{data | date: 'yyyy'}}, 
          <a href="http://www.scipioerp.com" target="_blank">Scipio ERP</a>. UI based on
          <a href="https://timcreative.github.io/now-ui-kit-angular/" target="_blank">"Now UI Kit - Angular"</a>.
      </div>
  </div>
</footer>