/*
 Grid bugfix for wrong div structure (guerantees that the theme will play nice even if row col-lg* is not followed entirely)
*/
#main-content {
    .row {
        > div:not([class*="col-"]) {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float:left;
            width:100%;
        }
    }
}

// Fix margin on rows
.row {
    .row {
        margin-bottom:4px;        
    }
}

// Logo
.navbar-brand>img { 
    width: auto;
    height: 22px;
}

.radio-item-inline.radio-item-separator {
  display:none;
}
.checkbox-item-inline.checkbox-item-separator {
  display:none;
}

legend {font-size: 0.9em; padding-top:10px; color: $brand-info;cursor:pointer;}

pre.scrollable {
    max-height:500px;
    overflow-x:scroll;
}

.collapsehide{
    background: rgb(240, 240, 240);
    padding: 10px;
}

.form-group {
    input {width:100%;}
}

/*
.form-control{
    height:auto;
}

.form-group {
    &.is-focused {
        .radio-item{
            .form-control {
            }
        }
    }
}

.input-group{
    margin:0px;
}

.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #555;
    text-align: center;
    border:none;
    background:none;

    input {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #555;
        text-align: center;
        width: 100%;
    }
}*/

.btn-group input, .btn-group form {    
		position: relative;
        float: left;
		
		&:not(:first-child):not(:last-child):not(.dropdown-toggle) {
			border-radius: 0;
			}
}

div.form-control, .form-group div.form-control,.field-entry-type-display {background:none;}


.nav-tabs {
    background:none;
    border-bottom:0px;
}

#pre-content-section {
    display:block;
}