// Here you can add other styles

// Chart.js
@import "scipio/chartsjs";
@import "scipio/tiles";
@import "scipio/calendar";
@import "scipio/steps";


// GENERAL
.main {
    .container-fluid {
        padding-top:20px;
    }
}

header.navbar .nav-item {
     margin: 0 10px 0 0!important;
    }

// CODE
pre {
    /* original is white background with no border */
    background-color: #fff;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    padding: 4px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
}

pre, code {
}

code {
    margin:0px;
    padding:0px;
    border:none;
    background:none;
    .INFO {color:$brand-info;}
    .DEBUG {}
    .WARN {color:$brand-warning;}
    .ERROR {color:$brand-danger;}
    .FATAL {color:$brand-danger;font-weight:bold;}
    .TRACE {color:$gray-light;}
}

pre.scrollable {
    max-height:500px;
    overflow-x:scroll;
}


.btn-default {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

$mdb-input-padding-xs-vertical:       2px !default; // 1
$mdb-input-padding-xs-horizontal:     0 !default; // 5
$mdb-btn-font-size-xs: 10px !default;

.btn-xs,.btn-group-xs {
    padding: 4px 15px;
    font-size: $mdb-btn-font-size-xs;
}
