// Here you can add other styles

// Chart.js
@import "scipio/scipio";
@import "scipio/chartsjs";
@import "scipio/tiles";
@import "scipio/calendar";
@import "scipio/steps";


// GENERAL
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display .columns:nth-child(even), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1;
}

.main {
    .container-fluid {
        padding-top:20px;
    }
}

header.navbar .nav-item {
     margin: 0 10px 0 0!important;
    }


// Navigation

a.dropdown-item {

  &:last-child {
    border-bottom: 1px solid $dropdown-border-color;
  }

}


.dropdown-menu :last-child {
    a.dropdown-item {
         border-bottom: 0;
    }
} 


.sidebar nav {
    
     ul.nav {
        max-width:200px;
        width:100%;
     }

     ul.nav li.nav-item li {
        padding-left:10px;
        font-size: 0.7875rem;
    }
    
    // Hack for adding icon to the sidebar 

    ul.nav li{
    
         a:before {
            font-family: FontAwesome;
            margin-right:5px;
        }
        
        &.active a:before {
            color: $brand-primary;
        }
        
        &.active:hover a:before {
            color: #fff;
        }
        
        &.dashboard a:before {
            content: "\f015";
        }
    }
    
    .nav-dropdown-toggle {

          &::before {
            position: absolute;
            top: ($sidebar-nav-link-padding-y + ($font-size-base / 4));
            right: $sidebar-nav-link-padding-x;
            display: block;
            width: ($font-size-base);
            height: ($font-size-base);
            padding: 0;
            font-size: $font-size-base;
            line-height: ($font-size-base * 3 / 4);
            text-align: center;
            content: "\2039";
            transition: .3s;
          }
        }
    
}

// Fix to the pagination elements
.page-item {
  span {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -1px;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  }
  
  &:first-child {
    span {
      margin-left: 0;
      @include border-left-radius($border-radius);
    }
  }
  &:last-child {
    span {
      @include border-right-radius($border-radius);
    }
  }

  &.active span {
    z-index: 2;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border;
  }

  &.disabled span {
    color: $pagination-disabled-color;
    pointer-events: none;
    cursor: $cursor-disabled; // While `pointer-events: none` removes the cursor in modern browsers, we provide a disabled cursor as a fallback.
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border;
  }
}

// Pricing table
.card-columns {
    ul {
        list-style-type: none;
        padding-left:0;
    }

}

ul.card {
    list-style-type: none;
    padding-left:0;
}


/*******
* SHOP
********/
// Navigation
#right-nav {
   > .nav-item {
    line-height:36px;
   }
}

#microcart{
    line-height:36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#microCartIcon{
    width: 36px;
    height: 36px;
    background: #009bcb;
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 0 8px 0 8px;
    order:1;
}

#microCartTotal{
    order:-1;
}

#content-main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

// Ribbon
.carousel-item{
    li {}
}
.ribbon {
    width:85px;
    height:88px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    }
.ribbon span{
    position: relative;
    padding: 7px 0;
    left: -42px;
    top: -9px;
    display:block;
    font-size:14px;
    width: 140px;
    padding:4px;
    background-color: $brand-danger;
    color:#fff;
    text-align: center;
      -webkit-transform: rotate(-45deg);
      -moz-transform:    rotate(-45deg);
      -ms-transform:     rotate(-45deg);
      -o-transform:      rotate(-45deg);
    }

// hero
.scipio-image::after {
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0.5;
    background-repeat: repeat;
    opacity: 0.3;
    background-image: url(../img/overlays/black-horizontal-stripes.png);
}

// CODE
pre {
    /* original is white background with no border */
    background-color: #fff;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    padding: 4px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
}

pre, code {
}

code {
    margin:0px;
    padding:0px;
    border:none;
    background:none;
    .INFO {color:$brand-info;}
    .DEBUG {}
    .WARN {color:$brand-warning;}
    .ERROR {color:$brand-danger;}
    .FATAL {color:$brand-danger;font-weight:bold;}
    .TRACE {color:$gray-light;}
}

pre.scrollable {
    max-height:500px;
    overflow-x:scroll;
}


btn {
 &.btn-default {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
}

$mdb-input-padding-xs-vertical:       2px !default; // 1
$mdb-input-padding-xs-horizontal:     0 !default; // 5
$mdb-btn-font-size-xs: 10px !default;

.btn-xs,.btn-group-xs {
    padding: 4px 15px;
    font-size: $mdb-btn-font-size-xs;
}

.btn-default {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}